body{
    background-color:#c2e3ed;
    color:blue;
}
body h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.comic img {
    align-content: center;
    max-width: max-content;
    width:85em;
}
